@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{  
    display: grid;
    place-items: center;
    height: 100vh;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.main{
    height: 400px;
    width: 250px;
    background: rgba(51, 51, 51, 0.493);
    border-radius: 10px;
    display: grid;
    place-items: center;
    color: #fff;
    font-family: verdana;
}

#box{
    height: 40px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    width: 80%;
    border-radius: 50px;
    outline: none;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.main #vermelho {
    background: linear-gradient(90deg, #000, red);
}
  
.main #verde {
    background: linear-gradient(90deg, #000, green);
}
  
.main #azul {
    background: linear-gradient(90deg, #000, blue);
}