@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&display=swap');

body{
    background-color:white;
    background-repeat: no-repeat;
    font-family: 'Baloo Bhaijaan 2', Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

main {
    background-image: linear-gradient(to bottom, rgba(0, 4, 255, 0.76), rgba(0, 0, 255, 0.096));
    border-radius: 10px;
    padding: 20px;
    font-size: 1em;
    margin: auto;
    max-width: 650px;
    min-width: 200px;
    border-style: solid;
    box-shadow: 2px 2px 2px;
}

main input{
    margin: auto;
    padding: 7px;
}

input:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

