@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color:rgb(255, 255, 255);
    font-family: 'Baloo Bhaijaan 2', Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 1.7rem;
    margin: 10px;
}

p{
    text-align: center;
    font-size: 1.4em;
    margin: 5px;
}

form{ 
    background-image: linear-gradient(to top, rgba(0, 3, 3, 0.87), rgb(50, 216, 216));

    border-radius: 10px;
    border-style: solid;
    box-shadow: 1px 1.8px rgba(0, 0, 0, 0.192);

    padding: 20px;
    margin: auto;
    max-width: 500px;
    min-width: 200px;
    
    font-size: 1.2rem;
    color: white;
}

form p{
    font-size: 1.4rem;
}

form div.questoes{
    display: flex;
    flex-direction: row;
}

form label{
    margin: 2px 3px 2px 6px;
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Baloo Bhaijaan 2', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

div#botao input{
    border: none;
    padding: 5px;
    font-size: 1rem;
}

div#botao input:hover{
    background-color: rgba(49, 47, 47, 0.959);
    color: white;
    transition: 2ms;
    cursor: pointer;
    border: 1px solid white;
}