@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

h1{
    text-align: center;
    margin: 20px;
    text-shadow: 1.2px 1px black;
}

h2{
    color: white;
}

form{
    text-align: center;
}

form fieldset#principal{
    margin: 20px 20px 3px 3px;
    margin: auto;
    width: 500px;
    line-height: 3em;
    background-color: #101561;
    border-radius: 10px;
    box-shadow: 2px 3px 4px black;
}

fieldset{
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    border-radius: 10px;
}

fieldset input:hover{
    background-color: #3609b16b;
    color: white;
    font-size: 1em;
}

div#enviar{
    padding: 20px 40px 20px 40px;
    width: 50px;
    height: 50px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
}

div#enviar button{
    padding: 10px;
    max-width: 90px;
    min-width: 30px;
    margin: auto;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}