@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500&display=swap');

body{
    background-color: black;
    background-image: url('https://images.pexels.com/photos/248510/pexels-photo-248510.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Baloo Bhaijaan 2', Arial, Helvetica, sans-serif;
}

main{
    color: white;
    max-width: 600px;
    padding: 2%;
    margin: auto;
    background-color: rgba(43, 40, 39, 0.589);
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
} 

div#music{
    text-align: left;
    color: white;
}
