*{
    margin: 0px;
    padding: 0px;
    min-height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 10px;
}

header h1{
    text-align: center;
}

section#conteudo{
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.349), rgba(8, 153, 197, 0.932));
    width: 280px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.281);
    border-radius: 20px;
}

div#c1 input#num1{
    width: 70px;
    text-align: center;
}

div#c1 input#ok{
    width: 40px;
}

div#c1 input#ok:hover{
    background-color: rgba(0, 0, 255, 0.13);
    color: white;
}

div#c2 select{
    width: 130px;
    text-align: center;
}

div#c1, div#c2{
    margin: 10px;
}