@charset "UTF-8";

/* PT SANS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ARIMA */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --amarelo: #FFD819;
    --vermelho: #FF1200;
    --verde: #13BD5A;
    --preto: #000000;
    --branco: #FFFFFF;

    --titulo: "Arima", cursive;
    --subtitulo: 'PT Sans', sans-serif;
    --conteudo: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--preto);
}

.titulo{
    font-family: var(--titulo);
}

.subtitulo{
    font-family: var(--subtitulo);
}

.conteudo{
    font-family: var(--conteudo);
}

div.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

div.link a{
    font-family: var(--conteudo);
    font-size: 1.2em;
    text-decoration: none;
    color: var(--preto);
}

div.link a:hover{
    color: var(--branco);
    text-shadow: 0.2px 1px 1px black;
}

.subtitulo2{
    font-family: var(--subtitulo);
    flex-basis: 40%;
    position: relative;
    margin-left: 0px;
    margin-bottom: 20px;
}

.subtitulo2::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    left: 0px;
    top: -20%;
}

/* HEADER */

header{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

header #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

#logo img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1.2px 1px black;
}

#logo h1{
    font-family: var(--conteudo);
    font-size: 1.7em;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

/* MAIN */

main{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--branco);
}

main div#apres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 10px;
    margin: 20px;
}

div#apres img{
    width: 40%;
    border-radius: 15%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.349);
}

div#apres h2{
    font-family: var(--titulo);
    font-size: 2.2em;
    font-weight: 400;
    color: var(--preto);
}

div#apres h2 span{
    color: var(--vermelho);
}

div#historia{
    font-family: var(--conteudo);
    background-color: var(--vermelho);
    color: var(--branco);
    margin: 50px -20px 50px -20px;
    padding: 50px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div#historia div.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

div#cardapio{
    margin: 30px -20px 30px -20px;
    padding: 30px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div#cardapio .subtitulo2::after{
    background-color: var(--preto);
}

div#cardapio div.pizzas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

div#cardapio div.pizzas div.pizzas-1, div.pizzas-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

div#cardapio div.pizzas-1 div.p1, div.p2{
    background-color: var(--amarelo);
}

div#cardapio div.pizzas-2 div.p1, div.p2{
    background-color: var(--amarelo);
}

div#cardapio div.p1, div.p2{
    padding: 25px 15px;
    width: 20vw;
}

div#cardapio span.preco{
    position: relative;
    top: 20px;
    left: -40px;
    background-color: var(--branco);
    padding: 7px;
    border-style: solid;
    border-color: var(--preto);
    font-family: var(--conteudo);
    font-size: 1em;
}

div#cardapio div.imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: var(--conteudo);
    font-size: 0.9em;
}

div#cardapio img{
    width: 100%;
}

div#cardapio div.imagem button{
    background-color: var(--branco);
    cursor: pointer;
    border-style: none;
    padding: 5px;
}

div#cardapio div.imagem button:hover{
    background-color: rgb(216, 211, 211);
}

div#avaliacoes{
    margin: 30px -20px 30px -20px;
    padding: 30px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--vermelho);
    font-family: var(--conteudo);
    color: var(--branco);
}

div#avaliacoes div.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

div#avaliacoes div.conteudo img{
    width: 25vw;
}

div#avaliacoes div.conteudo div.coment div.av{
    background-color: var(--branco);
    color: var(--preto);
    font-family: var(--subtitulo);
    font-size: 1em;
    font-weight: 400;
    flex-basis: 40%;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    text-align: left;
    width: 30vw;
    height: 20vh;
    padding: 20px;
}

div#avaliacoes div.conteudo div.coment div.av::after{
    content: '';
    width: 2px;
    height: 70%;
    background-color: var(--preto);
    position: absolute;
    left: 2%;
    top: 20px;
}

div#localizacao{
    margin: 30px -20px 30px -20px;
    padding: 30px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: var(--conteudo);
}

div#localizacao .subtitulo2::after{
    background-color: var(--preto);
}

div#localizacao div.loc{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin: 20px;
}

div#localizacao div.loc img{
    width: 30vw;
    height: 50vh;
}

div#localizacao div.loc iframe{
    width: 30vw;
    height: 50vh;
}

div#localizacao div.link a:hover{
    color: var(--vermelho);
}