@charset "UTF-8";

/* PT SANS */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ARIMA */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --amarelo: #FFD819;
    --vermelho: #FF1200;
    --verde: #13BD5A;
    --preto: #000000;
    --branco: #FFFFFF;

    --titulo: "Arima", cursive;
    --subtitulo: 'PT Sans', sans-serif;
    --conteudo: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--preto);
}

.titulo{
    font-family: var(--titulo);
}

.subtitulo{
    font-family: var(--subtitulo);
}

.conteudo{
    font-family: var(--conteudo);
}

/* HEADER */

header{
    background-color: var(--amarelo);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

header #logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

#logo img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 1px 1.2px 1px black;
}

#logo h1{
    font-family: var(--conteudo);
    font-size: 1.7em;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

nav div.link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

nav div.link a{
    font-family: var(--conteudo);
    font-size: 1.2em;
    text-decoration: none;
    color: var(--preto);
}

nav div.link a:hover{
    color: var(--branco);
    text-shadow: 0.2px 1px 1px black;
}

/* MAIN */

main{
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: var(--branco);
}

main div#apres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    padding: 10px;
    margin: 20px;
}

div#apres img{
    width: 40%;
    border-radius: 15%;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.349);
}

div#apres h2{
    font-family: var(--titulo);
    font-size: 2.2em;
    font-weight: 400;
    color: var(--preto);
}

div#apres h2 span{
    color: var(--vermelho);
}

div#historia{
    font-family: var(--conteudo);
    background-color: var(--vermelho);
    color: var(--branco);
    margin: 50px -20px 50px -20px;
    padding: 50px 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

div#historia div.his{
    font-family: var(--subtitulo);
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    margin-bottom: 20px;
}

div#historia div.his::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.63);
    position: absolute;
    left: 0px;
    top: -20%;
}

div#historia div.texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}